﻿<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title></title>
    <link href="css/main.css" rel="stylesheet">
    {{8}}
    <style type="text/css">
        {{1}}
        {{9}}
    </style>
</head>
<body>
    <div id="{{10}}">
        {{2}}
    </div>  
    <script src="js/jquery-2.1.1.min.js"></script>
    <script src="js/jquery-ui-1.10.4.min.js"></script>
    <script src="js/jquery.ui.touch-punch.min.js"></script>
    <script>
        $(function () {

        });
    </script>
</body>
</html>